// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder. 
// Just copy a variable from /sass/bootstrap/_variables.scss, paste it here and edit the value.
// As example you find one of the most important Bootstrap variable below: $brand-primary.
// Thats the ugly Bootstrap blue used for all the links, primary buttons etc.
// Just add your color code here, compile the theme.scss file to change this color everywhere


//
// Color system
//

$text-Light: #ffffff; //
$text-Dark: #010101; //
$text-Grey: #555555; //
$font-Size-SM: 0.875rem; // 14px
$font-Size-Base: 1rem; // 16px
$font-Size-LG: 2.5rem; // 40px 
$font-Size-XLG: 3rem; // 48px
$font-Size-Header: 1.125rem; // 18px
$font-Size-Header-SM: 1.25rem; // 20px
$font-Size-Header-LG: 2rem; // 32px
$font-Weight-XBold: 800;
$font-Weight-Bold: 600;
$font-Weight-Normal: 400; //
$font-Weight-Light: 200;
$font-Weight-XLight: 100;
$font-Family-Base: 'Open Sans', sans-serif; //
$font-Family-Accent: 'helvetica neue', helvetica, arial, sans-serif; //
$font-Family-Awesome: 'FontAwesome'; //
// 000.13 Colors
$rr-Blue: #0e76bc; //
$rr-BlueDark:#2f547a; //
$rr-BlueLight: lighten( $rr-BlueDark, 45%); //
$rr-Yellow: #F3B203; //
$rr-YellowLight: rgb(243, 223, 3); //
$rr-Red: #ff0000; //
$rr-RedDark: darken($rr-Red, 22%);
$rr-Grey: #333333; //
$rr-GreyLight: lighten($rr-Grey, 13.5%); //
$rr-Green: #8BC34A; //
$rr-White: #ffffff;
$bg-White: #ffffff; //
$bg-Light: #fafafa; //
$bg-Dark: #010101;
// 000.14 Borders
$border-Width-Dark: 1px solid #333333;
$border-Width-Light: 1px solid #f4f4f4;
$border-Width: 1px; // 
$border-Radius-Card: 0.125rem; // 2px
$border-Radius-Button-SM: 0.375rem; // 6px
$border-Radius-Button-LG: 0.625rem; // 10px
// 000.15 Mixins
// Box-Shadow
@mixin box-shadow( $horiz: 0px, $vert: 5px, $blur: 7px, $spread: 2px, $color:rgba(0, 0, 0, 0.3)) {
  -webkit-box-shadow: $horiz $vert $blur $spread $color;
  -moz-box-shadow: $horiz $vert $blur $spread $color;
  box-shadow: $horiz $vert $blur $spread $color;
}

// Border
@mixin border ( $value: 1px, $border-Color: $rr-White) {
  border: $value solid $border-Color;
}

// Border-Radius
@mixin border-radius ( $value: 3px) {
  -webkit-border-radius: $value;
  -moz-border-radius: $value;
  border-radius: $value;
  // keeps background from busting out of border 
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

// Card styling
@mixin card ( $horiz: 0px, $vert: 1px, $blur: 2px, $spread: 0px, $color:rgba(0, 0, 0, 0.3)) {
  -webkit-box-shadow: $horiz $vert $blur $spread $color;
  -moz-box-shadow: $horiz $vert $blur $spread $color;
  box-shadow: $horiz $vert $blur $spread $color;
  background-color: $bg-White;
  border-radius: $border-Radius-Card;
}

// Hover Over button movement
@mixin transform-button ($rotate: 0deg, $scale: 1, $skew: 0deg, $translate: 2px) {
  -webkit-transform: rotate($rotate) scale($scale) skew($skew) translateY($translate);
  -moz-transform: rotate($rotate) scale($scale) skew($skew) translateY($translate);
  -o-transform: rotate($rotate) scale($scale) skew($skew) translateY($translate);
  -ms-transform: rotate($rotate) scale($scale) skew($skew) translateY($translate);
  transform: rotate($rotate) scale($scale) skew($skew) translateY($translate);
}

// Hover Over button transition
@mixin transition-button ($prop: all, $time: 0.1s, $ease: ease-in) {
  -webkit-transition: $prop $time $ease;
  -moz-transition: $prop $time $ease;
  -o-transition: $prop $time $ease;
  -ms-transition: $prop $time $ease;
  transition: $prop $time $ease;
}

// Universal Button Hover-over-transition
@mixin hover-color-transition {
  transition: all 0.2s ease-in !important;
  transform: translateY(2px) !important;
}

// Universal button style
@mixin button {
  -moz-border-radius: $border-Radius-Button-SM;
  -webkit-border-radius: $border-Radius-Button-SM;
  border-radius: $border-Radius-Button-SM;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-appearance: none;
  -webkit-appearance: none;
  color: $text-Light !important;
  display: inline-block;
  font-size: 0.875rem;
  padding: 0.375rem 0.75rem;
  text-align: center;
  text-decoration: none !important;
  font-family: "Lato", Calibri, Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  border: none;
}

@mixin button-bg($bg) {
  background: $bg;
  -moz-box-shadow: 0 3px 0 darken($bg, 8%) !important;
  -webkit-box-shadow: 0 3px 0 darken($bg, 8%) !important;
  box-shadow: 0 3px 0 darken($bg, 8%) !important;
  &:hover {
    background: darken($bg, 8%);
    -moz-box-shadow: 0 3px 0 darken($bg, 15%) !important;
    -webkit-box-shadow: 0 3px 0 darken($bg, 15%) !important;
    box-shadow: 0 3px 0 darken($bg, 15%) !important;
    @include hover-color-transition;
  }
  &:active {
    background: darken($bg, 25%);
    -moz-box-shadow: 0 3px 0 darken($bg, 15%) !important;
    -webkit-box-shadow: 0 3px 0 darken($bg, 15%) !important;
    box-shadow: 0 3px 0 darken($bg, 15%) !important;
    @include hover-color-transition;
  }
}

@mixin box-shadow-top() {
  box-shadow: 0 2px 12px 0px rgba(0, 0, 0, 0.16), 0 2px 12px 0px rgba(0, 0, 0, 0.7);
}

